<div id="navigation-bar">
    <div class="nav">
        <div class="nav-header">
            <div class="nav-title">
                IZEA CodingTest
            </div>
        </div>
        <div class="nav-links">
            {{#link-to "users" class="nav-users" }}
                <a
                onClick="document.location.assign('/users')"
                class="loadUsers" data-test-nav-users-a>
                    Authors
                </a>
            {{/link-to}}
          {{#link-to "posts" class="nav-posts"}}
              <a
                      onClick="document.location.assign('/posts')"
                      class="loadPost" data-test-nav-post-a>
                  Posts
              </a>
          {{/link-to}}

        </div>
    </div>
</div>