<div id="navigation-bar">
    <div class="nav">
        <div class="nav-header">
            <div class="nav-title">
                IZEA CodingTest
            </div>
        </div>
        <div class="nav-links">
          {{#link-to "posts" class="nav-posts"}}
              <a
                      onClick="document.location.assign('/posts')"
                      class="loadPost" data-test-nav-post-a>
                  Posts
              </a>
          {{/link-to}}
            <a href="//github.io/jo_geek" target="_blank">User</a>
        </div>
    </div>
</div>