<div id="sidePanel">
    <div class="postInfo">
    <h2 data-test-side-panel-title >{{post.title}}</h2>
    <p>{{post.body}}</p>
    </div>
    <span data-test-side-panel-close class="close" role="button" {{action "toggleSidePanelOut"}} >
    &times;
  </span>
</div>