<div data-test-post-action-container class="user" role="button" {{action "toggleSidePanel"}}>
    <h1>
      {{user.name}}
    </h1>
</div>

{{#if this.sidePanelActive}}
    <UserSidePanel @user={{user}}  @toggleSidePanelOut={{action "toggleSidePanelOut"}} />
{{/if}}