#pagination {
  span {
    background: #fff;
    color: black;
    display: inline-block;
    padding: 3px 7px;
    cursor: pointer;
    box-shadow: 0 10px 11px -8px $secondaryTextColor;
    border-radius: 2px;
    margin-bottom: 10px;

    &:hover {
      background: $tertiaryAccent;
      color: white;
    }

    &.disabled {
      cursor: not-allowed;
      color: $secondaryTextColor;
    }
  }
}
