
<div class="container">
    <h1 data-test-title>Posts</h1>
    <div id="postsContainer">
     {{#post-pagination source = model as |posts|}}
        {{#each posts as |post|}}
            <Post data-test-post-container @post={{post}} />
        {{/each}}
     {{/post-pagination}}
    </div>
</div>