
<div class="container">
    <h1 data-test-title>Authors</h1>
    <div id="usersContainer" >
      {{#user-pagination source = model as |users|}}
        {{#each users as |user|}}
            <User data-test-user-container @user={{user}} />
        {{/each}}
      {{/user-pagination}}
    </div>
</div>

